{% extends 'layout.twig' %}

{% set title = 'En savoir plus' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<h3 class="major">{{title}}</h3>

<p>Pour la première fois, et dans le cadre de l'organisation de la fête du <a href="http://www.aupaysdelattert.be/">Parc Naturel de la Vallée de l'Attert</a>, le <a href="http://www.carre-post.be">Carré ASBL</a> organise le "Postrail", épreuve divisée en deux parcours de trail (course à pied sur chemins et sentiers) au départ du village de Post (Attert).</p>

{% endblock %}

{% block footer %}
    <h2 class="major" id="contact">Nous contacter</h2>

    {% include 'message.twig' %}

    <p>Pour toute question, remarque ou suggestion, n'hésitez pas à prendre contact avec nous via le formulaire ci-joint.</p>

    <form action="{{ path_for('about.contact') }}" method="POST">
        <div class="field">
            <label for="name">Name*</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="field">
            <label for="email">Email*</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="field">
            <label for="message">Message*</label>
            <textarea name="message" id="message" rows="4" required></textarea>
        </div>
        <div class="field g-recaptcha" data-sitekey="6LeaUBsTAAAAAOfCQ_MMC1xjtKQ6w_TTn6LsCaxH"></div>
        <ul class="actions">
            <li><input type="submit" value="Send Message" /></li>
        </ul>
    </form>
    <ul class="contact">
        <li class="fa-home">
            <a href="http://www.carre-post.be">Carré ASBL</a><br>
            Voie des Champs Mêlés <br>
            6717 Post (Attert) - Belgium
        </li>
    </ul>                    
    {{ parent() }}
{% endblock %}

{% block script %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}