{% extends 'layout.twig' %}

{% set title = ' | Contact' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<h3 class="major">En savoir plus</h3>

<p>"Carré" est une association sans but lucratif basée à Post. Son objectif est de générer une dynamique de village, en proposant des activités a caractère culturel, festif ou sportif tout au long de l'année.
<br>En 2016, le village de Post a organisé pour la deuxieme fois la fête du <a href="http://www.aupaysdelattert.be/">Parc Naturel de la Vallée de l'Attert</a>. C'est dans le cadre de cet événement majeur qu'est né le premier Postrail. Suite au succès rencontré lors de la premiere édition, les membres de l'ASBL ont décidé de péréniser l'événement.</p>

{% endblock %}

{% block footer %}
    <h2 class="major" id="contact">Nous contacter</h2>

    {% include 'message.twig' %}

    <p>Pour toute question, remarque ou suggestion, n'hésitez pas à prendre contact avec nous via le formulaire ci-joint.</p>

    <form action="{{ path_for('about.contact') }}" method="POST">
        <div class="field">
            <label for="name">Name*</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="field">
            <label for="email">Email*</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="field">
            <label for="message">Message*</label>
            <textarea name="message" id="message" rows="4" required></textarea>
        </div>
        <div class="field g-recaptcha" data-sitekey="6LeaUBsTAAAAAOfCQ_MMC1xjtKQ6w_TTn6LsCaxH"></div>
        <ul class="actions">
            <li><input type="submit" value="Send Message" /></li>
        </ul>
    </form>
    <ul class="contact">
        <li class="fa-home">
            <a href="http://www.carre-post.be">Carré ASBL</a><br>
            Voie des Champs Mêlés <br>
            6717 Post (Attert) - Belgium
        </li>
        <li class="fa-facebook">
            <a href="https://www.facebook.com/postrailrun/">facebook.com/postrailrun</a>
        </li>
    </ul>
    {{ parent() }}
{% endblock %}

{% block script %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
