{% extends 'layout.twig' %}

{% block content %}
    <!--<h3 class="major">Présentation</h3>-->

    <p>Première édition du Postrail ce 23 juillet 2016, dans le cadre de la fête du Parc Naturel de la Vallée de l'Attert. Parcours de 16 et 27 km réalisés par des amoureux de trail running. Premier départ à 15 heures. Bal le soir, entrée gratuite pour les traileurs !</p>

    <p>À l'arrivée&nbsp;: douches, petite restauration et bières locales vous attendent. <b>Préinscriptions ouvertes jusqu'au lundi 18 juillet à 23h59.</b></p>

    <p>
        <a href="{{ path_for('runner.index') }}" class="special">S'inscrire en ligne</a>
    </p>
    <br>

    <h3 class="major">En pratique</h3>
    <div class="row">
        <div class="6u 12u$(medium)">
            <h4>Prix des inscriptions</h4>
            <p>
                Course nature : <b>7&nbsp;€ en ligne ou 10&nbsp;€ sur place.</b></br>
                Trail découverte : <b>9&nbsp;€ en ligne ou 12&nbsp;€ sur place.</b></br>
            </p>

            <h4>Règlement</h4>
            <p>
                Tout participant déclare avoir lu et accepter le règlement de l'épreuve.
            </p>
            <p>
                <a href="{{ path_for('rules')}}" class="special">Règlement de l'épreuve</a>
            </p>
        </div>

        <div class="6u$ 12u$(medium)">
            <h4>Programme</h4>
            <p>
                <b>13 h</b> - retrait des dossards</br>
                <b>14 h 45</b> - briefing trail découverte</br>
                <b>15 h</b> - départ trail découverte</br>
                <b>15 h 45</b> - briefing course nature</br>
                <b>16 h</b> - départ course nature</br>
                <b>22 h</b> - ouverture du bal Underground</br>
            </p>
        </div>
    </div>
    <br>

    <h3 class="major">Les parcours</h3>
    <p>Les deux parcours vous feront passer de la Lorraine belge au plateau ardennais, deux régions typiques de l'Arelerland. Techniques mais accessibles, ils ont pour but de vous faire découvrir notre belle région, en prenant un maximum de plaisir !</p>
    <p>Les tracés et profils seront dévoilés quelques jours avant l'épreuve. Les distances et dénivellées annoncées sont susceptibles de varier légèrement d'ici là.</p>

    <section class="features">
        <article>
            <div class="image">
                <img src="{{ base_url() }}/img/15km.jpg">
            </div>
            <h3 class="major">Course nature</h3>
            <p>Rejoignant au plus court le superbe massif de la forêt d'Anlier, ce parcours de 16 km vous fera tourner autour du village d'Heinstert avant de rejoindre Post.
            <ul class="alt">
                <li>Distance totale : <b>16 km</b></li>
                <li>Dénivelée positive : <b>300 m</b></li>
            </ul>
            </p>
            <!--<a href="#" class="special">Learn more</a>-->
        </article>
        <article>
            <div class="image">
                <img src="{{ base_url() }}/img/27km.jpg">
            </div>
            <h3 class="major">Trail découverte</h3>
            <p>Ce parcours s'enfonce plus profondément dans la forêt d'Anlier pour aller caresser la commune de Léglise, formant une boucle de 27 km.
            <ul class="alt">
                <li>Distance totale : <b>27 km</b></li>
                <li>Dénivelée positive : <b>650 m</b></li>
            </ul>
            </p>
            <!--<a href="#" class="special">Learn more</a>-->
        </article>
    </section>
{% endblock %}