{% extends 'layout.twig' %}

{% block content %}
    <!--<h3 class="major">Présentation</h3>-->

    <p><b>Ce 22 juillet 2017 aura lieu la deuxième édition du Postrail&nbsp;!</b> Comme l'an passé, nous vous proposons <b>deux parcours de 15 km et 30 km</b> réalisés par des amoureux du trail running.
    <br>À l'arrivée&nbsp;: douches bien chaudes, petite restauration et bières locales vous attendent. Une boisson gratuite est offerte à tous les finishers de cette nouvelle édition !</p>

    <p> <b>Préinscriptions ouvertes jusqu'au mercredi 19 juillet à 23h59.</b>
    <br>Tarifs réduits avant le 1<sup>er</sup> juin.</p>

    <p>
        <a href="http://www.njuko.net/postrail2017" class="special">S'inscrire en ligne</a>
        <!--<a href="http://www.njuko.net/postrail2017/registrations-list-v3">Consulter la liste des inscrits.</a>-->
    </p>
    <br>

    <h3 class="major">En pratique</h3>
    <div class="row">
        <div class="6u 12u$(medium)">
            <h4>Prix des inscriptions</h4>
            <p>
                Trail 15 km : <b>8&nbsp;€</b> avant le 1<sup>er</sup> juin, <b>10&nbsp;€</b> ensuite.</br>
                Trail 30 km : <b>10&nbsp;€</b> avant le 1<sup>er</sup> juin, <b>12&nbsp;€</b> ensuite.</br>
            </p>

            <h4>Règlement</h4>
            <p>
                Tout participant déclare avoir lu et accepter le règlement de l'épreuve.
            </p>
            <p>
                <a href="{{ path_for('rules')}}" class="special">Règlement de l'épreuve</a>
            </p>
        </div>

        <div class="6u$ 12u$(medium)">
            <h4>Programme</h4>
            <p>
                <b>13 h</b> - retrait des dossards</br>
                <b>14 h 45</b> - briefing trail 30 km</br>
                <b>15 h</b> - départ trail 30 km</br>
                <b>15 h 45</b> - briefing trail 15 km</br>
                <b>16 h</b> - départ trail 15 km</br>
            </p>
        </div>
    </div>
    <br>

    <h3 class="major">Les parcours</h3>
    <p>Les deux parcours vous feront passer de la Lorraine belge au plateau ardennais, deux régions typiques de l'Arelerland. Techniques mais accessibles, ils ont pour but de vous faire découvrir notre belle région, en prenant un maximum de plaisir !</p>
    <p>Les distances et dénivellées annoncées restent indicatives jusqu'au jour de la course.</p>

    <section class="features">
        <article>
            <div class="image">
                <img src="{{ base_url() }}/img/15km.jpg">
            </div>
            <h3 class="major">Trail 15 km</h3>
            <p>Rejoignant au plus court le superbe massif de la forêt d'Anlier, ce parcours de 15 km vous fera tourner autour du village d'Heinstert avant de rejoindre Post.
            <ul class="alt">
                <li>Distance totale : <b>15 km</b></li>
                <li>Dénivelée positive : <b>300 m</b></li>
            </ul>
            </p>
            <!--<a href="#" class="special">Learn more</a>-->
        </article>
        <article>
            <div class="image">
                <img src="{{ base_url() }}/img/27km.jpg">
            </div>
            <h3 class="major">Trail découverte</h3>
            <p>Ce parcours s'enfonce plus profondément dans la forêt d'Anlier pour aller caresser la commune de Léglise, formant une boucle de 30 km.
            <ul class="alt">
                <li>Distance totale : <b>30 km</b></li>
                <li>Dénivelée positive : <b>650 m</b></li>
            </ul>
            </p>
            <!--<a href="#" class="special">Learn more</a>-->
        </article>
    </section>
{% endblock %}
