{% extends 'layout.twig' %}

{% set title = 'Inscription' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<section>
    
    <h3 class="major">{{title}}</h3>

    <form action="{{ path_for('runner.store') }}" method="POST">        
        <div class="row uniform">

            <div class="6u$ 12u$(medium)">
                <label for="race">Je participe*</label>
                <div class="select-wrapper">
                    <select name="race" id="race">
                        <option value="15 km">à la course nature (15 km)</option>
                        <option value="27 km">au mini trail (27 km)</option>
                    </select>
                </div>                
            </div>
               
            <div class="6u$ 12u$(medium)">
                <label for="meal">Nombre de repas du soir*</label>
                <div class="select-wrapper">
                    <select id="meal" name="meal">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>

            <div class="3u 6u(medium)">
                <label for="first_name">Prénom*</label>
                <input type="text" name="first_name" id="first_name">
            </div>

            <div class="3u$ 6u$(medium)">
                <label for="last_name">Nom*</label>
                <input type="text" name="last_name" id="last_name">
            </div>

            <div class="6u$ 12u$(medium)">
                <label for="email">Votre adresse email*</label>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="6u$ 12u$(medium)">
                <label for="birthdate">Date de naissance*</label>
            </div>
            <div class="2u 4u(medium)">
                <input type="text" name="day" id="day" placeholder="25" required>
            </div>
            <div class="2u 4u(medium)">
                <div class="select-wrapper">
                    <select name="month" id="month">
                        <option>mois</option>
                        <option value="1">Janvier</option>
                        <option value="2">Février</option>
                        <option value="3">Mars</option>
                        <option value="4">Avril</option>
                        <option value="5">Mai</option>
                        <option value="6">Juin</option>
                        <option value="7">Juillet</option>
                        <option value="8">Août</option>
                        <option value="9">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                    </select>
                </div>
            </div>
            <div class="2u$ 4u$(medium)">
                <input type="text" name="year" id="year" placeholder="1985" required>
            </div>

            <div class="6u$ 12u$(xsmall)">
                <label for="gender">Sexe*</label>
                <div class="select-wrapper">
                    <select name="gender" id="gender">
                        <option>Je suis...</option>
                        <option value="0">une femme</option>
                        <option value="1">un homme</option>
                    </select>
                </div>
            </div>
            
            <div class="6u$ 6u$(xsmall)">
                <label for="team">Équipe</label>
                <input type="text" name="team" id="team">
            </div>
            
            <div class="6u$ 6u$(xsmall)">
                <label for="team">Ville</label>
                <input type="text" name="city" id="city">
            </div>
            
            <div class="6u$ 6u$(xsmall)">
                <label for="team">Pays</label>
                <input type="text" name="country" id="country">
            </div>

            <div class="12u$">
                <button type="submit" class="button special">
                    S'inscrire
                </button>
                <a href="{{ path_for('runner.index') }}" class="button">
                    Back
                </a>
            </div>
        </div>
    </form>

</section>

{% endblock %}