{% extends 'layout.twig' %}

{% set title = ' | Inscriptions' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

{% include 'message.twig' %}

<section>
    <ul class="actions">
        <li>
            <a href="http://www.njuko.net/postrail2017" class="button special">Inscrivez-vous&nbsp;!</a>
        </li>
    </ul>

    <p>Par son inscription, chaque participant certifie avoir lu le réglement de la course et marquer son accord sur celui-ci.</p>

    <p><a href="http://www.njuko.net/postrail2017/registrations-list-v3">Consulter la liste des inscrits.</a></p>
</section>
{% endblock %}
