{% extends 'layout.twig' %}

{% set title = 'Inscrits' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
 
{% include 'message.twig' %}

<section>
    <ul class="actions">
        <li>
            <a href="http://www.njuko.net/postrail2016" class="button special">Inscrivez-vous&nbsp;!</a>       
        </li>
    </ul>

    <p>Par son inscription, chaque participant cerifie avoir lu le réglement de la course et marquer son accord sur celui-ci. Le nombre de participants est limités à 300 personnes pour chacune des deux distances. Pour des raisons d'organisation, les inscriptions ne sont possibles qu'en ligne, et seront cloturées le 15 juillet 2016 à 23h59.</p>

    <p><a href="http://www.njuko.net/postrail2016/registrations-list-v3">Consulter la liste des inscrits.</a></p>
</section>
{% endblock %}